<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.VisualStudio.SDK" version="17.0.31902.203" targetFramework="net472" />
  <package id="Microsoft.VSSDK.BuildTools" version="17.0.5232" targetFramework="net472" developmentDependency="true" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net472" />
</packages>
